.about-project {
    margin: 0 70px;
    padding: 0;
    max-width: 1280px;
    min-height: 608px;
}

.about-project__container {
    max-width: 1140px;
    border-bottom: 1px solid #545454;
    margin: 0;
    padding: 110px 0 0 0;
    height: 50px;
}

.about-project__title {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
    /*color: #000000;*/
}

.about-project__content {
    padding: 70px 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.about-project__info {
    max-width: 550px;
}

.about-project__subtitle {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
}

.about-project__text {
    margin: 26px 0 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
}

.about-project__time {
    max-width: 1140px;
    margin: 0;
    padding: 39px 0;
    display: grid;
    grid-template-columns: minmax(228px, 1fr) minmax(912px, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.about-project__time-black {
    max-width: 228px;
    height: 36px;
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-project__time-gray {
    max-width: 912px;
    height: 36px;
    background: #F2F2F2;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /*text-align: center;*/
    color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-project__time-description {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 121%;
    /*text-align: center;*/
    color: #A0A0A0;
    display: flex;
    align-items: center;
    justify-content: center;
}